 /* 1 užduotis
 H1 elemente parašykite savo vardą. Paspaudus ant vardo - tegul jūsų vardas atsiranda per vidurį ekrano, dvigubai didesniu font'o dydžiu ir raudona spalva. */
/* body {
    margin: 0;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    /* height: 100vh;
}
.container {
    position: relative;
} */ 
#vardas {
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#vardas.hovered, #vardas.clicked {
    color: red;
}
#vardas.clicked {
    font-size: 4em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}